[Unit]
Description=Zomboid Discord Bot
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=pzuser
WorkingDirectory=/opt/pzserver
EnvironmentFile=/home/pzuser/zomboidBot/.env
ExecStart=/home/pzuser/zomboidBot/bin/zomboidBot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pzuser

[Install]
WantedBy=multi-user.target